.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Navigation { 

  color: black;
  background-color: white;
  text-align: center;

}
